.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        吾輩は猫である
      %ul.main-header__left-box__member-list
        Member :&nbsp;
        %li.main-header__left_box__member-list__member
          souseki
    = link_to "#", class: "main-header__edit-btn" do
      Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker
          satoshi
        %p.message__upper-info__date
          2020/04/11(Sat) 21:15:36
      %p.message__text
        何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
    .message
      .message__upper-info
        %p.message__upper-info__talker
          natsume
        %p.message__upper-info__date
          2020/04/11(Sat) 21:20:46
      %p.message__text
        吾輩はここで始めて人間というものを見た。
  .form
    %form.new-message
      .input-box
        %input.input-box__text{type: "text", placeholder: "type a message", name: "message[content]"}
        %label.input-box__image
          = icon('far', 'image')
          %input.input-box__image__file{type: "file", name: "message[image]"}
      %input.submit-btn{type: "submit", name: "commit", value: "Send"}
